/*Global */

*{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

header{
    background-color: rgb(163, 237, 250);

    width: 100vw;
}


main{
    background-color: #ffffff;

    display: column;
}

footer{
    background-color: #131313;

    width: 100vw;
}

div{
    width: 40vw;
    height: auto;
}


img{
    width: 100%;
    height: auto;
}

/* Medium */
@media screen and (min-width: 700px) {
    main{
        display: column;
    }

    div{
        width: 100%;
    }
}


/* Large */
@media screen and (min-width: 1000px) {
    main{
        display: flex;
    }

    div{
        width: 100%;
    }
}


/* XL */
@media screen and (min-width: 1300px) {
    main{
        display: flex;
    }

    div{
        width: 100%;
    }
}