*{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

header{
    background-color: rgb(163, 237, 250);

    width: 100vw;
}


main{
    background-color: #ffffff;

    display: flex;
}

footer{
    background-color: #131313;

    width: 100vw;
}

div{
    width: 40%;
    height: auto;
}