/*Global */

*{
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

header{
    background-color: rgb(163, 237, 250);

    width: 100vw;
}


main{
    background-color: #ffffff;

    display: flex;

    justify-content: center;

    align-items: center;;
    margin: 20px;
}

footer{
    background-color: #131313;

    width: 100vw;
}

div{
    width: 40vw;
    height: auto;
}


img{
    width: 100%;
    height: auto;
}

nav{
    justify-content: center;
}

ul{
    display: table-row;
}

/* Medium */
@media screen and (min-width: 700px) {
    main{
        display: column;
        justify-content: center;
        margin: 20px;
    }

    div{
        width: 40vw;
    }
}


/* Large */
@media screen and (min-width: 1000px) {
    main{
        display: flex;

        justify-content: center;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    div{
        width: 100%;
        
    }
}


/* XL */
@media screen and (min-width: 1300px) {
    main{
        display: flex;

        justify-content: center;
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
    }

    div{
        width: 100%;
      
    }
}